<!DOCTYPE html>
<html>
<head>
	<title>Webview Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
</head>

<style>
	.app{
		font-size:30px;
	}
    #mapid { height: 480px; width: 320px;}
</style>



<body>
    <!-- create basic leaflet structure -->
    <div id='mapid' style='height: 800px; width: 100%;'></div>
    <script type='text/javascript'>
       var eventMap = L.map('mapid').setView([52.520007, 13.404954], 12);
       L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
       'attribution':  'Kartendaten &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> Mitwirkende',
       'useCache': true
       }).addTo(eventMap);
    </script>

    <!-- add marker to map -->
    <script type='text/javascript' src='lib/database.js'></script>
    <script type='text/javascript' async>
        const eventList = filterEmptyLocation();
        console.log(eventList);
        for(event in eventList => {
            console.log(event)
            L.geoJSON(event.location).addTo(eventMap);
        }
        );
     </script>


</body>

</html>