<table id="infoTable" class="table table-fixed table-condensed align-middle">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Stadt</th>
      <th scope="col">Tag</th>
      <th scope="col">Favorit</th>
    </tr>
  </thead>
  <tbody>
    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
      <td>FFF</td>
      <td>Berlin</td>
      <td>heute</td>
      <td>
        <label class="checkbox">
          <input type="checkbox"/>
          <i class="fa fa-heart"></i>
      </label>
    </tr>
    <tr >
      <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Die Klimakrise ist eine reale Bedrohung für die menschliche Zivilisation –
        die Bewältigung der Klimakrise ist die Hauptaufgabe des 21. Jahrhunderts.
        Wir fordern eine Politik, die dieser Aufgabe gerecht wird
       </div> </td>
  </tr>
  <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
    <td>Critical<br>Mass</td>
    <td>Berlin</td>
    <td>heute</td>
    <td>
      <label class="checkbox">
        <input type="checkbox"/>
        <i class="fa fa-heart"></i>
    </label>
  </tr>
  <tr >
    <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo2"> Im Prinzip ist eine Critical Mass eine Art Fahrradtour, die in der Regel jeweils am letzten Freitag im Monat stattfindet. In einigen Städten treffen sich ein paar Dutzend Radfahrer*innen zu einer solchen Tour, in anderen Städten wiederum mehrere Tausend.</div> </td>
</tr>

<tr data-toggle="collapse" data-target="#demo5" class="accordion-toggle">
  <td>Klimacamp</td>
  <td>Berlin</td>
  <td>täglich</td>
  <td>
    <label class="checkbox">
      <input type="checkbox"/>
      <i class="fa fa-heart"></i>
  </label>
</tr>
<tr >
  <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo5"> Wir tragen unseren Protest für Klimagerechtigkeit rund um die Wahl ins Regierungsviertel. Mit einer Dauerkundgebung in Form eines Camps. #WirBleibenBisIhrHandelt
    Wann? Ab dem 06. September
    Wo? Wiese neben dem Haus der Kulturen der Welt </div> </td>
</tr>
<tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
  <td>Mietendeckel</td>
  <td>Berlin</td>
  <td>heute</td>
  <td>
    <label class="checkbox">
      <input type="checkbox"/>
      <i class="fa fa-heart"></i>
  </label>
</tr>
<tr >
  <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo3"> Demo Content3 </div> </td>
</tr>
<tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
  <td>Ende <br> Gelände</td>
  <td>Berlin</td>
  <td>heute</td>
  <td>
    <label class="checkbox">
      <input type="checkbox"/>
      <i class="fa fa-heart"></i>
  </label>
</tr>
<tr >
  <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo4"> Demo Content3 </div> </td>
</tr>
<tr data-toggle="collapse" data-target="#demo4" class="accordion-toggle">
  <td>Black <br>Lives <br>Matter</td>
  <td>Berlin</td>
  <td>heute</td>
  <td>
    <label class="checkbox">
      <input type="checkbox"/>
      <i class="fa fa-heart"></i>
  </label>
</tr>
<tr >
  <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo6"> Demo Content3 </div> </td>
</tr>
  </tbody>
</table>
<tr data-toggle="collapse" data-target="#demo6" class="accordion-toggle">
  <td>Mietendeckel</td>
  <td>Berlin</td>
  <td>heute</td>
  <td>
    <label class="checkbox">
      <input type="checkbox"/>
      <i class="fa fa-heart"></i>
  </label>
</tr>
<tr >
  <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo7"> Demo Content3 </div> </td>
</tr>

<!-- Script -->
<script type="text/javascript">
$('.accordian-body').on('show.bs.collapse', function () {
    $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        .collapse('toggle')
})
</script>