
    <form class="marginBody" id="filter-form">
        <div class="form-row">
          <div class="form-group">
            <label for="inputTown">Stadt</label>
            <input type="text" class="form-control" id="inputTown" placeholder="Stadt">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group">
              <label for="inputTag">Tags</label>
              <input type="text" class="form-control" id="inputTag" placeholder="Demo">
            </div>
          </div>
          </div>
          <div class="form-row">
          <div class="form-group">
            <label for="Zeit1">Von</label>
            <input type="date" class="form-control" id="Zeit1">
          </div>
          </div>
          <div class="form-row">
          <div class="form-group">
            <label for="Zeit2">Bis</label>
            <input type="date" class="form-control" id="Zeit2">
          </div>
          </div>
        </div>
        <button class="btn btn-primary" onclick="submitForm()">Anwenden</button>
      </form>
